In [2]:
print("yash")

yash

In [3]:
x = 25

In [4]:
print(x)

25

### My First Markdown Cell in a Notebook

I am starting to write down a paragraph

*italic*
**bold**

- My item 1
- My item 2
- My item 3


1. Ordered item 1
2. Ordered item 2
3. Ordered item 3

[Ipython official documentation](http://ipython.readthedocs.org/en/stable/overview.html)

### Python Basics

In [6]:
x = 100

In [7]:
print(x)

100

In [8]:
type(x)

int

In [9]:
type("UCD")

str

In [10]:
none_var = None

In [11]:
type(none_var)

NoneType

In [16]:
a = 10
b = 11
a += 1
b -= 1
print(a)
print(b)

11
10

In [17]:
a**b

25937424601

In [18]:
somedata = ["text", 7, 0.34, True]  # a list containing 4 different variables of different types

In [21]:
print(somedata[0:])

['text', 7, 0.34, True]

In [22]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

In [23]:
list_of_lists = [list1, list2]

In [24]:
print(list_of_lists)

[['a', 'b', 'c'], [1, 2, 3]]

In [25]:
1 in list1

False

In [26]:
1 in list2

True

In [27]:
list2.append(0)
print(list2)

[1, 2, 3, 0]

In [30]:
list2.sort()
print(list2)

[0, 1, 2, 3]

In [32]:
suits = ("hearts", "diamonds", "spades", "clubs")
suits[-1]

'clubs'

In [34]:
suits[1] = "turtle"

TypeError: 'tuple' object does not support item assignment

In [35]:
mylist = [1,3,1,4,3,6,8,1,4,4]
set(mylist)

{1, 3, 4, 6, 8}

In [36]:
x = set([1,2,3,4])
y = set([3,4,5])

In [37]:
x

{1, 2, 3, 4}

In [38]:
y

{3, 4, 5}

In [39]:
z = x.intersection(y)
a = x.union(y)

In [40]:
z

{3, 4}

In [41]:
a

{1, 2, 3, 4, 5}

In [42]:
x.difference(y)

{1, 2}

In [44]:
y.difference(x)

{5}

In [45]:
d1 = {"Ireland":"Dublin", "France":"Paris"}    # create a dictionary containing two pairs

In [46]:
d1["Germany"] = "Dublin"

In [47]:
d1

{'Ireland': 'Dublin', 'France': 'Paris', 'Germany': 'Dublin'}

In [48]:
d1.keys()

dict_keys(['Ireland', 'France', 'Germany'])

In [49]:
d1.values()

dict_values(['Dublin', 'Paris', 'Dublin'])

In [50]:
d1.items()

dict_items([('Ireland', 'Dublin'), ('France', 'Paris'), ('Germany', 'Dublin')])

In [51]:
len(d1)

3

### Flow Control

In [52]:
v = 9
w = 10
if v > w:
    print("v is greater")      # first branch
elif v == w:
    print("both values are equal")  # alternative branch
else: 
    print("last resort, w must be greater")      # last resort

last resort, w must be greater

In [53]:
z = 1
while z < 8:
    print("z is",z)
    if z%3 == 0:
        print("breaking out of loop when z is",z)
        break
    z += 1

z is 1
z is 2
z is 3
breaking out of loop when z is 3

In [54]:
capitals = { "Italy":"Rome", "Ireland":"Dublin", "Germany":"Berlin" }
for country in capitals:
    print(country, "=", capitals[country])

Italy = Rome
Ireland = Dublin
Germany = Berlin

In [55]:
# Start at 40, ending before 20, and decrementing by 5 each time (i.e adding -5):
for i in range(40,20,-5):
    print(i)

40
35
30
25

In [56]:
list(range(5,20,4))

[5, 9, 13, 17]